@media only screen and (max-width: 992px) {
    .logo {
        transform: scale(0.5);
    }

    .title-wrap {
        transform: scale(0.5);
    }

    .title-wrap__title1 {
        font-size: 55pt;
    }

    .title-wrap__title2 {
        font-size: 55pt;
    }

    .description {
        transform: scale(0.5);
    }

    .description__slogan1,
    .description__slogan2 {
        font-size: 30pt;
    }

    .form-reference {
        transform: scale(0.8);
    }

    .description__text {
        width: 60%
    }
}

@media only screen and (max-width: 1370px) {
    .logo {
        transform: scale(0.9);
    }

    .title-wrap {
        transform: scale(0.9);
    }

    .title-wrap__title1 {
        font-size: 80pt;
    }

    .title-wrap__title2 {
        font-size: 80pt;
    }

    .description {
        transform: scale(0.9);
    }

    .description__slogan1,
    .description__slogan2 {
        font-size: 50pt;
    }
}

@media only screen and (max-width: 1024px) {
    .nav__links {
        margin: 10px;

    }
}

@media only screen and (max-width: 760px) {
    .logo {
        transform: scale(0.5);
    }

    .title-wrap {
        transform: scale(0.8);
    }

    .title-wrap__title1 {
        font-size: 45pt;
    }

    .title-wrap__title2 {
        font-size: 45pt;
    }

    .description {
        transform: scale(0.8);
    }

    .description__slogan1,
    .description__slogan2 {
        font-size: 30pt;
    }

    /* .navbar_container {
        display: none;
    } */

    body {
        /* overflow-x: hidden; */
    }

    .nav__links {
        position: absolute;
        right: 0px;
        height: 66vh;
        top: 6vh;
        background: rgb(44, 44, 40);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        margin-right: -5px;
    }

    /* .nav__links li {
        opacity: 1;
    } */

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

}

@media only screen and (max-width: 1200px) {
    .page1::after {
        content: "";
        background: url("https://g.foolcdn.com/editorial/images/548027/space-launch-system-2018_05_10-12_39_51-utc.jpg");
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;


        background-size: auto 100%;
        background-repeat: no-repeat;
        position: fixed;
    }
}